# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 7faa02480db5d63a2acabae02a80b13e29742b5bececfa234d88f8463e8dbaea8f89986fac0c9aeb3c8a31d73c3eb5b85a89c63b33a1f88b9d15a7e486a7272a

test:
  secret_key_base: cc64da86189923f2754451783c4e5678f81eb050d92dbc416410d117ea6dbb0026f46cefcd147258c6d3559c4006411e9044d8ff966e3905a2272b2d9eec3db5

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
